@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Source+Sans+Pro&display=swap');
body{
    padding: 0;
    margin: 0;
}
    .navbar-nav{
        display: flex;
        justify-content: space-between;
        background-color: #9f3bce;
        background-image: linear-gradient(90deg,#9f3bce,#999);
        margin: 0;
        padding: 2rem;
    }
        .navbar{
            flex:0.5;
        }
        .nav-list{
        flex: 0.5;
        display: flex;
        justify-content: space-around;
        }
            .brand{
                font-size: 1.5rem;
                color: #ffffff;
                font-weight: 550;
                letter-spacing: 5px;
            }
            .nav-link{
                color: white;
                font-size: 1.25rem;
                letter-spacing: 5px;
            }
            .nav-link:hover{
                color: #dadada;
                
            }
*{
    text-decoration: none;
    font-size: 1rem;
}

.question{
    display: flex;
    align-items: center;
    padding: 1rem 1.25rem;
    margin:1rem;
    height: 4rem;
    background-color: #e9edf1;
    box-shadow:#cccccc 2px 2px 3px;
}
.question *{
    flex: 0.33;
    justify-self: center;
}
.question-dashboard{
    text-align: center;
    background-color: black;
    padding: 2rem;
}
.question-dashboard button{
margin-right: 2rem;
}
.bg-overlay{
    background-color: black;
    background-image: radial-gradient(circle, #ba87f5 1px, transparent 1.5px);
    background-size: 50px 50px;
    background-repeat: space ;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

   padding: 2rem;
}
.form input{
    width: 30vw;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 1.1rem;
}
.btn{
    background-color: #00aF88;
    border: none;
    width: 10rem;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 10px;
}
.btn:hover{
    background-color:#0fa368 ;
    cursor: pointer;
}
.form-vert{
    display: flex;
    flex-direction: column;
    justify-content: start;  
}
.option{
    background-image: linear-gradient(0deg,#42d1eb , #d242e6 );
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 1rem;
}
.horizontal{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}
.horizontal *{
    flex: 1;
    text-align: center;
}
.para{
    font-family: Source Sans Pro;
    letter-spacing: 4px;
    line-height: 2.5rem;
    font-size: 1.25rem;
    margin: 10% 25%;
    text-align: left;
    color: #414141;
}
.title{
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin: 2rem 2rem 0.5rem;
    position: relative;
    }
    .title::after{
        position: absolute !important;
        width: 4rem;
        height: 5px;
        background-color: #184d92;
        content: "";
        left: 0;
        right: 0;
        bottom: -10px;
        margin: 0 auto;
        animation: decrease 0.5s 1 forwards;
    }

.gameQuiz{
    max-width: 700px;
    background-color: #664e88;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    letter-spacing: 4px;
    align-items: space-around;
    color: white;
    border-radius: 2rem;
    height: 70%;
}
.parent-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.gameOption{
    display: flex;
    min-width: 50%;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px -1px  #916dc0;
    color: white;
    margin: 0 2rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: rgba(209, 209, 209, 0.4);
}
.gameOption:hover{
    opacity: 0.7;
}

.contain{
    padding: 4rem 2rem;
    margin: 0;
    background-color: #63b4b8;
}

.gameQuestion{
    display: flex;
    justify-content: space-around;
}
.gameQuestion *{
    margin: 1rem 5rem;
    font-size: 1.25rem;
}
.ques{
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: #cacaca;
    margin: 2rem 2rem 2rem 4rem;
}


.finalScore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 15rem;
    background-image: linear-gradient(#5c42e6,#42d1eb);
    border-radius: 1.25rem;
    box-shadow: 4px 4px 10px #adadad;
}

.finalScore h3{
    font-family: Arvo;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin: 1rem;
    color: white;
}
.finalScore p{
    font-size: 1.25rem;
    font-family: Arvo;
    margin: 2rem;
}
.finalScore  button{
    appearance: none;
    border:none;
    outline: none;
    border-radius: 1.25rem;
    background-color: #eb2e2e;
    color: white;
    padding: 1rem 2rem;
    margin: 2rem;
}
.finalScore button:hover{
    cursor: pointer;
    opacity: 0.9;

}
.final-contain{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}
.finalScore button *{
text-decoration: none;
color: white;

}

.finalScore input{
    border: 1px #5c42e6;
    padding: 1rem 2rem;
    border-radius: 1.25rem;
}

.finalScore input:focus{
    outline: none;
}

.leaderboardScore{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-size: 1.15rem;
    font-family: Arvo;
    background-color: rgba(209, 209, 209, 0.4);
    margin: 0.25rem 2rem;
    padding: 1rem;
    border-radius: 0.75rem;
    width: 50vw;
    color: #444343;
}
.quizleaderboard{
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#9f3bce,#adadad);
}
.leaderboardScore *{
    flex: 1;
margin: 0rem 2rem;
}